@(analogList: List[AnalogPin], digitalList: List[DigitalPin])

@main(Messages("config.title")) {
    <script src="@routes.Assets.at("js/config.js")"></script>

    <input type="hidden" name="success" value="@Messages("config.success")">
    <input type="hidden" name="fail" value="@Messages("config.fail")">

    <div class="message"></div>

    @Messages("config.dlist")
    @if(digitalList.size == 0) {
        <ul class="list-group">
            <li class="list-group-item">@Messages("config.nodigital")</li>
            <li class="list-group-item">
                <form method="post" action="@routes.Arduino.addDigitalPin()">
                    <select name="pinNumber">
                    @for(i <- 1 to 15) {
                        <option value="@i">@i</option>
                    }
                    </select>

                    <select name="value">
                        <option value="@Arduino.DIGITAL_LOW">@Arduino.DIGITAL_LOW</option>
                        <option value="@Arduino.DIGITAL_HIGH">@Arduino.DIGITAL_HIGH</option>
                    </select>

                    <input type="submit" class="btn btn-default" value="@Messages("config.new")">
                </form>
            </li>
        </ul>
    } else {
        <ul class="list-group">
            @for(pin <- digitalList) {
                <li class="list-group-item">
                    @pin.pinNumber - <select name="digitalPin@pin.pinNumber">
                                        <option value="@Arduino.DIGITAL_LOW" @if(pin.pinState == Arduino.DIGITAL_LOW ) { selected } name=@{pin.pinNumber}_@Arduino.DIGITAL_LOW> @Arduino.DIGITAL_LOW </option>
                                        <option value="@Arduino.DIGITAL_HIGH" @if(pin.pinState == Arduino.DIGITAL_HIGH) { selected } name=@{pin.pinNumber}_@Arduino.DIGITAL_HIGH > @Arduino.DIGITAL_HIGH </option>
                                    </select>
                    <button class="btn-sm btn-primary" onclick="changeDigitalPin('@pin.pinNumber');">@Messages("config.change")</button>
                    <a href="@routes.Arduino.removeDigitalPin(pin.pinNumber)"><i class="glyphicon glyphicon-remove"></i></a>
                </li>
            }
            <li class="list-group-item">
                <form method="post" action="@routes.Arduino.addDigitalPin()">
                    <select name="pinNumber">
                        @for(i <- 1 to 15) {
                        <option value="@i">@i</option>
                        }
                    </select>

                    <select name="value">
                        <option value="@Arduino.DIGITAL_LOW">@Arduino.DIGITAL_LOW</option>
                        <option value="@Arduino.DIGITAL_HIGH">@Arduino.DIGITAL_HIGH</option>
                    </select>

                    <input type="submit" class="btn btn-default" value="@Messages("config.new")">
                </form>
            </li>
        </ul>

    }

    @Messages("config.alist")
    @if(analogList.size == 0) {
        <ul class="list-group">
            <li class="list-group-item">@Messages("config.nodigital")</li>
            <li class="list-group-item">
                <form method="post" action="@routes.Arduino.addAnalogPin()">
                    <select name="pinNumber">
                    @for(i <- 1 to 5) {
                        <option value="@i">@i</option>
                    }
                    </select>
                    <input name="value" type="text" placeholder="@Messages("config.newanalog.value")"/>
                    <input type="submit" class="btn btn-default" value="@Messages("config.new")">
                </form>
            </li>
        </ul>


    } else {
        <ul class="list-group">
            @for(pin <- analogList) {
                <li class="list-group-item">
                    @pin.pinNumber - <input type="text" value="@pin.pinValue" name="analogPin@pin.pinNumber"/>
                <button class="btn-sm btn-primary" onclick="changeAnalogPin('@pin.pinNumber');">@Messages("config.change")</button>
                <a href="@routes.Arduino.removeAnalogPin(pin.pinNumber)"><i class="glyphicon glyphicon-remove"></i></a>
                </li>
            }
            <li class="list-group-item">
                <form method="post" action="@routes.Arduino.addAnalogPin()">
                    <select name="pinNumber">
                    @for(i <- 1 to 5) {
                        <option value="@i">@i</option>
                    }
                    </select>
                    <input name="value" type="text" placeholder="@Messages("config.newanalog.value")"/>
                    <input type="submit" class="btn btn-default" value="@Messages("config.new")">
                </form>
            </li>
        </ul>

    }
}